.error{
    text-align: center;
    color: red;
}

.button{
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 50%;
}

html,body{
    margin: 0;
    padding: 0;
}

.dataChart{
    position: relative; 
    height:25vh; 
    width:70vw;
    margin: auto;
}